{{>user-header}}
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
<section>
    <div class="container ">
        <div class="row checkout">
            <div class="col-lg-6 col-md-12 p-md-2 mt-3">
                <form action="" method="post" id="billing-form" class="p-4">
                    <h1 class="mt-4">How do you want to pay?</h1>

                    <h4 class="mt-5">Select a payment method.</h4>
                    <div class="row">
                        <div class="col-md-5 mt-3">
                            <label class="mt-3 model-container text-center w-100 ">
                                <input type="radio" class="radio-btn" id="device" name="paymentMethod" value="COD"
                                    required>
                                <div style="height: 88px;"
                                    class="model-select product-model d-flex align-items-center justify-content-center">
                                    <h4 class="model-title m-0">COD</h4>
                                </div>
                            </label>
                        </div>

                        <div class="col-md-5 mt-3">
                            <label class="mt-3 model-container text-center w-100 ">
                                <input type="radio" class="radio-btn" id="device" name="paymentMethod" value="RAZORPAY"
                                    required>
                                <div style="height: 88px;"
                                    class=" model-select product-model d-flex align-items-center justify-content-center">
                                    <img style="height: 32px;" class="w-100" src="/images/Razorpay_logo.svg" alt="">
                                </div>
                            </label>
                        </div>
                    </div>
                    <input type="text" class="d-none" name="addressId" value="{{addressId}}">
                    <div class="row">
                        <div class="col-md-10 mt-4">
                            <div class="mt-2 bottem-checkout-btn-container ">
                                <button class="text-white col-md-6  btn btn-primary  checkout-btn mt-4 "
                                    type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {{!-- <div class="col-lg-4 col-md-12 p-3 order-right-section mt-5">
                <div class="delivery-address-box mt-2">
                    <p>Delivery options for 670142</p>
                    <span><span class="me-2"><i class="bi bi-archive"></i></span> Standard Delivery by Wed, 4th
                        Jan</span>
                </div>

                <div class="order-summary-wrap mt-3">
                    <h6>Order Summary (item 1)</h6>
                    <div class="original-price-wrap d-flex justify-content-between">
                        <p>Original Price</p>
                        <span>₹ <span class="cart-total-price1">{{cartTotal}}</span></span>
                    </div>
                    <div class="delivery-price-wrap mt-2 d-flex justify-content-between">
                        <p>Delivery</p>
                        <span>Free</span>
                    </div>
                    <div class="total-wrap d-flex mt-2 justify-content-between">
                        <p>Total</p>
                        <span>₹ <span class="cart-total-price2">{{cartTotal}}</span></span>
                    </div>

                </div>
            </div> --}}
        </div>

    </div>
</section>




{{>user-footer}}


<!-- address Modal -->
<div class="modal fade " id="addNewAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/add-new-address" method="POST">
                <div class="col-md-12 p-3">
                    <div class="email">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="firstName" name="firstName" value="{{user.firstname}}" placeholder="First Name"
                            required>
                    </div>
                    <div class="number ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="lastName" name="lastName" value="{{user.lastname}}" placeholder="Last Name" required>
                    </div>
                    <div class="address1 ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="street" name="street" value="{{user.address.street}}" placeholder="Address Line 1"
                            autocomplete="address-level1" required>
                    </div>
                    <div class="address2 ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="street2" name="AddressLine2" value="{{user.address.street2}}"
                            placeholder="Address Line 2 (Optional)" autocomplete="address-level2">
                    </div>
                    <div class="landmark ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="street3" name="Landmark" value="{{user.address.street3}}"
                            placeholder="Landmark (Optional)" autocomplete="address-level3">
                    </div>
                    <div class="postalCode ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="postalCode" name="postalCode" value="{{user.address.postalCode}}" placeholder="PIN Code"
                            autocomplete required>
                    </div>
                    <div class="cityState ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="cityState" name="state" value="{{user.address.state}}" placeholder="City, State"
                            required>
                    </div>
                    <div class="country ">
                        <input style="border-radius: 10px;" type="text" class="mt-3 p-2 form-input-padding form-control"
                            id="country" name="country" placeholder="Country" value="India" readonly required>
                    </div>
                </div>

                <div class="bottem-checkout-btn-container col-md-12 p-3  ">
                    <button type="submit" id="submit" style="padding: 12px 1px;"
                        class="text-white col-md-12  btn btn-primary bottem-shipping-btn checkout-btn mb-4  ">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>





<script>
    function showNewAddress() {
        $('#addNewAddress').modal('show');
    }
</script>

<script>
    $('#billing-form').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#billing-form').serialize(),
            success: ((response) => {
                console.log(response)
                if (response.codSuccess === true) {
                    location.href = "/order-success"
                } else if (!response.status) {
                    swal({
                        title: "Error",
                        text: "Something went wrong",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then(() => {
                            location.href = "/checkout"
                        });
                } else {
                    razorpayPayment(response)
                }
            })
        })
    })


    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_deE2E1795zFmxy", // Enter the Key ID generated from the Dashboard
            "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Fliq",
            "description": "Test Transaction",
            "image": "http://localhost:3000/images/logo.png",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                
                verifyPayment(response,order);
            },
            "prefill": {
                "name": `${order.user.fname}`,
                "email": order.user.email,
                "contact": order.user.phone
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "white"
            }

        };

        var rzp1 = new Razorpay(options);
        rzp1.open();

    }
    
    function verifyPayment(payment,order){
        $.ajax({
            url: '/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success: ((response) => {
                if (response.status === true) {
                    location.href = "/order-success"
                } else if (!response.status) {

                } else {
                    razorpayPayment(response)
                }
            })
        })
    }
</script>