{{>user-header}}

<section>
    <div class="container p-3">
        {{#if cartItems}}
        <div class="row">
            <div class="col-lg-8 col-md-12 p-md-2">
                <div class="row">
                    {{#each cartItems}}

                    <div class="col-md-12 mt-3">
                        <div class="card-box d-flex">
                            <div class="left-section card-box-img-wrap d-flex flex-column m-3">
                                <img src="/images/product-images/{{this.product.images.[0].filename}}" alt="">
                                <div class="qty-wrap mt-2">
                                    <div class="cart-product-quantity">
                                        <div class="wrapper">
                                            <span id="{{this.product._id}}minus"
                                                onclick="changeQuantity(-1,'{{this.product._id}}')"
                                                class="minus">-</span>
                                            <span class="num" id="{{this.product._id}}">{{this.quantity}}</span>
                                            <span id="{{this.product._id}}plus"
                                                onclick="changeQuantity(1,'{{this.product._id}}')" class="plus">+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-section  flex-column p-3 align-items-md-start justify-content-start">
                                <div class="card-info-wrap ms-md-3">
                                    <h3 style="font-size: 24px;" class="mt-2 ">{{this.product.name}}</h3>
                                    <h5 class="mt-2">₹ {{this.product.price}}</h5>
                                    <p style="font-size: 11px;">(incl. all Taxes)</p>
                                    <h6 style="font-size: 13px;" class="mt-2">Standard Delivery by Wed, 4th Jan</h6>

                                </div>
                                <div class="mt-2 d-lg-flex box-card-btn-wrap">
                                    <a href="" class="w-100  btn btn-outline-dark m-2 rounded border-dark ">Move to
                                        Wishlist</a>
                                    <a href="/remove-product/{{this.product._id}}" class="w-100 m-2 btn btn-outline-dark rounded border-dark">Remove</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}




                </div>
            </div>
            <div class="col-lg-4 col-md-12 p-3 order-right-section">
                <div class="delivery-address-box mt-2">
                    <p>Delivery options for 670142</p>
                    <span><span class="me-2"><i class="bi bi-archive"></i></span> Standard Delivery by Wed, 4th
                        Jan</span>
                </div>

                <div class="order-summary-wrap mt-3">
                    <h6>Order Summary (item 1)</h6>
                    <div class="original-price-wrap d-flex justify-content-between">
                        <p>Original Price</p>
                        <span >₹ <span class="cart-total-price1">{{cartTotal}}</span></span>
                    </div>
                    <div class="delivery-price-wrap mt-2 d-flex justify-content-between">
                        <p>Delivery</p>
                        <span>Free</span>
                    </div>
                    <div class="total-wrap d-flex mt-2 justify-content-between">
                        <p>Total</p>
                        <span >₹ <span class="cart-total-price2">{{cartTotal}}</span></span>
                    </div>
                    <div class="mt-4 order-btn-wrap d-flex justify-content-center">
                        <a style="padding: 6px 55px;" href="/checkout"  class="btn btn-primary rounded">CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="container-fluid  mt-100">
            <div class="row">
        
                <div class="col-md-12">
        
                    <div class="card border-0 my-5">
                        <div class="card-body  cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img style="width: 200px;" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" width="130" height="130" class="img-fluid mb-4 mr-3">
                                <h4><strong>Your Cart is Empty</strong></h4>
                                <h6 class="mt-4">Explore our wide selection and find something you like</h6>
                                <a href="/" class="btn btn-primary cart-btn-transform m-3 mt-4 bg-dark border-dark" style=" padding: 9px 11px;" data-abc="true">Continue shopping</a>
        
        
                            </div>
                        </div>
                    </div>
        
        
                </div>
        
            </div>
        
        </div>
        {{/if}}
    </div>
</section>


{{>user-footer}}





<script>

    function changeQuantity(count, productId) {
        const num = document.getElementById(productId);
        const productCount = parseInt(document.getElementById(productId).innerText);
        const minus = document.getElementById(productId + "minus");
        const plus = document.getElementById(productId + "plus");
      
                $.ajax({
                    url: '/change-product-quantity',
                    data: {
                        count: count,
                        productId,
                        quantity:productCount
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.status) {
                            num.innerText = productCount + count;
                            document.querySelector('.cart-total-price1').innerText=response.cartTotal;
                            document.querySelector('.cart-total-price2').innerText = response.cartTotal;

                        } else {
                            location.reload();
                        }
                    }
                })
          


    }


</script>