{{>user-header}}
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

<section>
    <div class="headerhny-title text-center mt-3 mb-3">
        <h3 class="hny-title mb-0 p-4">Order Details</h3>

    </div>
    <div class="container">
        <div class="row order-card m-2">
            <div class="col-md-5">
                <div class=" order-card-info mb-3 mb-md-0">
                    <h5 class="mt-2 ">Delivery Address</h5>
                    <hr style="color: #b5b5b5;">
                    </hr>
                    <div class="address-info-wrap">
                        <h6 class="font-weight-bold">{{order.deliveryDetails.firstName}}
                            {{order.deliveryDetails.lastName}}</h6>
                        <p class="font-weight-normal">
                            {{order.deliveryDetails.street}},{{order.deliveryDetails.AddressLine2}},
                            {{order.deliveryDetails.Landmark}}-{{order.deliveryDetails.postalCode}},
                            {{order.deliveryDetails.state}} </p>

                        <h6 class="font-weight-bold">Phone number</h6>
                        <p>{{order.deliveryDetails.phone}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class=" order-card-info">
                    <h5 class="mt-2 ">More actions</h5>
                    <hr style="color: #b5b5b5;">
                    </hr>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                {{#if order.orderStatus}}
                                <h5 class="text-success text-capitalize">Order {{order.orderStatus}}</h5>
                                {{else}}
                                <h5 class="text-danger text-capitalize">Order Canceled</h5>

                                {{/if}}
                                <p style="font-size: 14px;" class="mt-3">Payment Method: {{order.paymentMethod}}</p>
                                <p class="mt-3">Expected by Fri, 31st Jul '23
                                </p>

                            </div>
                        </div>
                        <div class="col-6">
                            {{#if order.shipmentStatus.delivered.status}}
                            <h6>Download Invoice</h6>
                            <button onclick="getOrderDetails('{{order._id}}','{{user._id}}')" class="btn btn-outline-primary mt-3">Download </button>
                            {{/if}}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row  justify-content-center p-2">
            <div class="col-md-4">
                <div class="order-card  order-card-info mb-3">
                    <h5 class="mt-2 ">Order Tracking</h5>
                    <hr style="color: #b5b5b5;">
                    </hr>
                    <div class="row">
                        {{#if order.orderStatus}}

                        <div class="timeline p-3 ms-4 ">
                            {{#if order.shipmentStatus.ordrePlaced.status}}
                            <div class="tl-item ">
                                <div class="tl-dot b-success"></div>
                                <div class="tl-content">
                                    <div class="">Order Confirmed</div>
                                    <div class="tl-date text-muted mt-1">
                                        {{order.shipmentStatus.ordrePlaced.lastUpdate.date}}</div>
                                </div>
                            </div>
                            {{/if}}

                            {{#if order.shipmentStatus.shipped.status}}
                            <div class="tl-item ">
                                <div class="tl-dot b-success"></div>
                                <div class="tl-content">
                                    <div class="">Shipped</div>
                                    <div class="tl-date text-muted mt-1">
                                        {{order.shipmentStatus.shipped.lastUpdate.date}}</div>
                                </div>
                            </div>
                            {{/if}}

                            {{#if order.shipmentStatus.outForDelivery.status}}
                            <div class="tl-item">
                                <div class="tl-dot b-success "></div>
                                <div class="tl-content">
                                    <div class="">Out for delivery</div>
                                    <div class="tl-date text-muted mt-1">
                                        {{order.shipmentStatus.outForDelivery.lastUpdate.date}}</div>
                                </div>
                            </div>
                            {{/if}}

                            {{#if order.shipmentStatus.delivered.status}}
                            <div class="tl-item">
                                <div class="tl-dot b-success"></div>
                                <div class="tl-content">
                                    <div class="">Delivered</div>
                                    <div class="tl-date text-muted mt-1">
                                        {{order.shipmentStatus.delivered.lastUpdate.date}}</div>
                                </div>
                            </div>
                            {{/if}}

                        </div>
                        {{else}}
                        <div class="timeline p-3 ms-4 ">
                            {{#if order.shipmentStatus.ordrePlaced.status}}
                            <div class="tl-item ">
                                <div class="tl-dot b-success"></div>
                                <div class="tl-content">
                                    <div class="">Order Confirmed</div>
                                    <div class="tl-date text-muted mt-1">
                                        {{order.shipmentStatus.ordrePlaced.lastUpdate.date}}</div>
                                </div>
                            </div>
                            {{/if}}
                            <div class="tl-item ">
                                <div class="tl-dot b-danger"></div>
                                <div class="tl-content">
                                    <div class="">Cancelled</div>

                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class=" col-md-8">
                <div class="orders-wrap ">
                    <div class="order-header d-flex justify-content-between mt-2">
                        <p class="m-0 order-id"><span class="text-dark text-capitalize">Order</span> #{{order._id}}</p>
                        <p class="m-0 text-secondary order-date d-flex align-items-center">Order Placed: {{order.date}}
                        </p>
                    </div>
                    <hr style="color: #b5b5b5;">
                    </hr>
                    {{#each order.products}}
                    <a href="/product-details/{{this._id}}"
                        class="text-dark text-decoration-none m-1 d-flex justify-content-center">
                        <div class="col-12 col-md-10 col-lg-10 mt-3">
                            <div class="card-box m-1 orders p-2 p-lg-4 row">
                                <div class=" col-4 col-md-6 p-2 my-2 d-flex justify-content-center position-relative">
                                    <img class="w-100" style="max-width: 260px; height: 130px; object-fit: contain;"
                                        src="/images/product-images/{{this.images.[0].filename}}" alt="">
                                </div>
                                <div class=" col-8 col-md-5 align-items-center d-flex ">
                                    <div class="card-info-wrap ms-md-3">
                                        <h6 class="mt-2 device-name text-capitalize">{{this.name}}</h6>
                                        <p style="font-size: 12px;" class="m-0">{{this.brand}}</p>
                                        <h6 class="mt-2">₹ {{this.price}}</h6>
                                        <p style="font-size: 11px;">(incl. all Taxes)</p>
                                        <h6 style="font-size: 13px;" class="mt-2">{{this.color}}</h6>

                                    </div>
                                </div>
                                <div
                                    class="  col-md-1 d-flex justify-content-center align-items-center d-none d-md-flex ">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                    <hr style="color: #b5b5b5;">
                    </hr>
                    <div class="d-flex justify-content-between align-items-center order-footer mb-2">
                        {{#if order.orderStatus}}

                        <div class="order-cancel-wrap ms-2">
                            <button type="button" class="btn btn-secondary bg-dark" data-bs-toggle="modal"
                                data-bs-target="#cancelOrder" href="">Cancel order</button>
                        </div>
                        {{else}}
                        <div class="order-cancel-wrap ms-2">
                            <h6 class="me-2 mb-0 text-danger">Order Canceled</h6>

                        </div>
                        {{/if}}
                        {{!-- <div class="order-more-wrap d-flex justify-content-center ">
                            <a class="text-dark text-decoration-none" href="/order-details/{{this._id}}">View More</a>
                        </div> --}}

                        <div class="order-total-wrap">
                            <h6 class="me-2 mb-0">Total: ₹{{order.totalAmount}}</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="cancelOrder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancle the order?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="cancelOrder('{{order._id}}')" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

{{>user-footer}}


<script>
    function cancelOrder(orderId) {
        $.ajax({
            url: '/cancel-order/' + orderId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    window.location.reload();
                }
            }
        })
    }
</script>

<script>
    function getOrderDetails(orderId, userId) {
        $.ajax({
            url: '/download-invoice/' + orderId + "/" + userId,
            method: 'get',
            success: ((response) => {
                if (response.status) {
                    downloadInvoice(response.invoice)
                } else {
                    location.reload()
                }
            })
        })

        function downloadInvoice(data) {

            easyinvoice.createInvoice(data, function (result) {
                //The response will contain a base64 encoded PDF file
                console.log('PDF base64 string: ', result.pdf);
                easyinvoice.download('invoice.pdf')
            });

        }

    }
</script>

<style>
    .order-card-info>h5 {
        font-size: 18px;
    }

    .address-info-wrap>p {
        font-size: 14px;
    }

    .cancel-btn {
        background-color: #f5f4f4;
        padding: 7px 25px;
        border-radius: 3px;
        color: black;
        text-decoration: none;
    }
</style>


<style>
    @media (min-width:992px) {
        .page-container {
            max-width: 1140px;
            margin: 0 auto
        }

        .page-sidenav {
            display: block !important
        }
    }

    .padding {
        padding: 2rem
    }

    .w-32 {
        width: 32px !important;
        height: 32px !important;
        font-size: .85em
    }

    .tl-item .avatar {
        z-index: 2
    }

    .circle {
        border-radius: 500px
    }

    .gd-warning {
        color: #fff;
        border: none;
        background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
    }

    .timeline {
        position: relative;
        border-color: rgba(160, 175, 185, .15);
        padding: 0;
        margin: 0
    }

    .p-4 {
        padding: 1.5rem !important
    }

    .block,
    .card {
        background: #fff;
        border-width: 0;
        border-radius: .25rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
        margin-bottom: 1.5rem
    }

    .mb-4,
    .my-4 {
        margin-bottom: 1.5rem !important
    }

    .tl-item {
        border-radius: 3px;
        position: relative;
        display: -ms-flexbox;
        display: flex
    }

    .tl-item>* {
        padding: 10px
    }

    .tl-item .avatar {
        z-index: 2
    }

    .tl-item:last-child .tl-dot:after {
        display: none
    }

    .tl-item.active .tl-dot:before {
        border-color: #448bff;
        box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
    }

    .tl-item:last-child .tl-dot:after {
        display: none
    }

    .tl-item.active .tl-dot:before {
        border-color: #26a541;
        box-shadow: 0 0 0 4px rgb(201 239 209)
    }

    .tl-dot {
        position: relative;
        border-color: rgba(160, 175, 185, .15)
    }

    .tl-dot:after,
    .tl-dot:before {
        content: '';
        position: absolute;
        border-color: inherit;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: 15px;
        left: 50%;
        transform: translateX(-50%)
    }

    .tl-dot:after {
        width: 0;
        height: auto;
        top: 25px;
        bottom: -15px;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0
    }

    tl-item.active .tl-dot:before {
        border-color: #26a541;
        box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
    }

    .tl-dot {
        position: relative;
        border-color: rgba(160, 175, 185, .15)
    }

    .tl-dot:after,
    .tl-dot:before {
        content: '';
        position: absolute;
        border-color: inherit;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: 15px;
        left: 50%;
        transform: translateX(-50%)
    }

    .tl-dot:after {
        width: 0;
        height: auto;
        top: 25px;
        bottom: -15px;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0
    }

    .tl-content p:last-child {
        margin-bottom: 0
    }

    .tl-date {
        font-size: .85em;
        margin-top: 2px;
        min-width: 100px;
        max-width: 100px
    }

    .avatar {
        position: relative;
        line-height: 1;
        border-radius: 500px;
        white-space: nowrap;
        font-weight: 700;
        border-radius: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border-radius: 500px;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
    }

    .b-warning {
        border-color: #f4c414 !important;
    }

    .b-primary {
        border-color: #448bff !important;
    }

    .b-danger {
        border-color: #f54394 !important;
    }

    .b-success {
        border-color: #26a541 !important;
    }
</style>


<style>
    .user-header {
        position: fixed !important;
    }
</style>