<!-- Plugins CSS File -->
<link rel="stylesheet" href="/stylesheets/assets/css/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/stylesheets/assets/css/plugins/magnific-popup/magnific-popup.css">
<!-- Main CSS File -->
<link rel="stylesheet" href="/stylesheets/assets/css/style.css">
<link rel="stylesheet" href="/stylesheets/assets/css/plugins/nouislider/nouislider.css">


<body>
    {{>user-header}}
    <div class="page-wrapper">


        <main class="main mt-md-5">

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical position-relative">
                                    <div class="row">
                                        <figure
                                            class="product-main-image mt-3 mt-md-0 d-flex align-items-center justify-content-center">
                                            <img class="product-image-box" id="product-zoom"
                                                src="/images/product-images/{{product.images.[0].filename}}"
                                                data-zoom-image="/images/product-images/{{product.images.[0].filename}}"
                                                alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery bg-dark">
                                                <i class="icon-arrows text-white"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div style="height: 90px;" id="product-zoom-gallery"
                                            class="product-image-gallery mt-3 mt-md-0">
                                            {{#each product.images}}
                                            <a style="border: 1px solid #bcbcbc;"
                                                class="product-gallery-item d-flex justify-content-center" href="#"
                                                data-image="/images/product-images/{{this.filename}}"
                                                data-zoom-image="/images/product-images/{{this.filename}}">
                                                <img style="    width: 90px;height: 90px; object-fit: contain;"
                                                    src="/images/product-images/{{this.filename}}" alt="product side">
                                            </a>
                                            {{/each}}
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->

                                    <div class="wishlist-action-wrapper position-absolute  ">
                                        <a onclick="addToWishlist('{{product._id}}')" class= {{#if wishListStatus}}"buttonws one mobile button--secondary animate active" {{else}} "buttonws one mobile button--secondary deactivate inactive" {{/if}}>

                                            <div class="btn__effect">
                                                <svg class="heart-stroke icon-svg icon-svg--size-4 icon-svg--color-silver"
                                                    viewBox="20 18 29 28" aria-hidden="true" focusable="false">
                                                    <path
                                                        d="M28.3 21.1a4.3 4.3 0 0 1 4.1 2.6 2.5 2.5 0 0 0 2.3 1.7c1 0 1.7-.6 2.2-1.7a3.7 3.7 0 0 1 3.7-2.6c2.7 0 5.2 2.7 5.3 5.8.2 4-5.4 11.2-9.3 15a2.8 2.8 0 0 1-2 1 3.4 3.4 0 0 1-2.2-1c-9.6-10-9.4-13.2-9.3-15 0-1 .6-5.8 5.2-5.8m0-3c-5.3 0-7.9 4.3-8.2 8.5-.2 3.2.4 7.2 10.2 17.4a6.3 6.3 0 0 0 4.3 1.9 5.7 5.7 0 0 0 4.1-1.9c1.1-1 10.6-10.7 10.3-17.3-.2-4.6-4-8.6-8.4-8.6a7.6 7.6 0 0 0-6 2.7 8.1 8.1 0 0 0-6.2-2.7z">
                                                    </path>
                                                </svg>
                                                <svg class="heart-full icon-svg icon-svg--size-4 icon-svg--color-blue"
                                                    viewBox="0 0 19.2 18.5" aria-hidden="true" focusable="false">
                                                    <path
                                                        d="M9.66 18.48a4.23 4.23 0 0 1-2.89-1.22C.29 10.44-.12 7.79.02 5.67.21 2.87 1.95.03 5.42.01c1.61-.07 3.16.57 4.25 1.76A5.07 5.07 0 0 1 13.6 0c2.88 0 5.43 2.66 5.59 5.74.2 4.37-6.09 10.79-6.8 11.5-.71.77-1.7 1.21-2.74 1.23z">
                                                    </path>
                                                </svg>


                                                </svg>
                                                <div class="effect-group">
                                                    <span class="effect"></span>
                                                    <span class="effect"></span>
                                                    <span class="effect"></span>
                                                    <span class="effect"></span>
                                                    <span class="effect"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <div class="ms-3">
                                        <h1 style="font-weight: 500;" class="product-title">{{product.name}}</h1>
                                        <!-- End .product-title -->

                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                Reviews
                                                )</a>
                                        </div><!-- End .rating-container -->

                                        <div class="product-price text-dark">
                                            <i class="fa-solid fa-indian-rupee-sign me-2"></i> {{product.price}}
                                        </div><!-- End .product-price -->

                                        <div class="product-content">
                                            <p class="text-dark">Super Savings (2 OFFERS)
                                            </p>
                                        </div><!-- End .product-content -->
                                        <p class="my-4 text-dark">Memory: {{product.storage}} GB</p>
                                        <div class="details-filter-row details-row-size">
                                            <label>Color:</label>

                                            <div class="product-nav product-nav-thumbs">
                                                <p class="text-dark">{{product.color}}</p>
                                            </div><!-- End .product-nav -->
                                        </div><!-- End .details-filter-row -->
                                    </div>

                                    <div style="border: 2px solid #d5d5d5;border-radius: 10px;"
                                        class="text-dark p-3 key-fearures">
                                        <h6>Key Features</h6>
                                        {{#each product.feature}}
                                        <p>{{this}}</p>
                                        {{/each}}
                                    </div>



                                    {{#if product.status}}
                                    <div class="product-details-action mt-3">
                                        <a href="#" class="btn-buynow me-3"><span class="text-white">Buy Now</span></a>
                                        <a onclick="addToCart('{{product._id}}')" class="btn-product btn-cart"><span>add
                                                to cart</span></a>

                                        <!-- End .details-action-wrapper -->
                                    </div>
                                    {{/if}}
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->


                    <div class="product-details-wrap">
                        <div style="border: 2px solid #d5d5d5;border-radius: 10px;" class="tab-pane fade show active"
                            id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h2>Specification</h2>
                                {{#each product.specification}}
                                <li>{{this}}</li>
                                {{/each}}
                                </ul>

                                <p>{{product.overview}}</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div style="border: 2px solid #d5d5d5;border-radius: 10px;" class="tab-pane fade show mt-3"
                            id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h2>Information</h2>
                                <p>{{product.overview}} </p>


                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->


                        <div style="border: 2px solid #d5d5d5;border-radius: 10px;" class="tab-pane show mt-3"
                            id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>Reviews (2)</h3>
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">Samanta J.</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">6 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Good, perfect size</h4>

                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
                                                    cum dolores assumenda asperiores facilis porro reprehenderit
                                                    animi culpa atque blanditiis commodi perspiciatis doloremque,
                                                    possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->

                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">John Doe</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">5 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Very good</h4>

                                            <div class="review-content">
                                                <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum
                                                    blanditiis laudantium iste amet. Cum non voluptate eos enim, ab
                                                    cumque nam, modi, quas iure illum repellendus, blanditiis
                                                    perspiciatis beatae!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->

                        <div style="border: 2px solid #d5d5d5;border-radius: 10px;" class="tab-pane fade show mt-3"
                            id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h2>Delivery & returns</h2>
                                <p>We deliver to over 100 countries around the world. For full details of the
                                    delivery options we offer, please view our <a href="#">Delivery
                                        information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you
                                    can do so within a month of receipt. For full details of how to make a return,
                                    please view our <a href="#">Returns information</a></p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                    </div>

                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sticky Bar -->
    <div class="sticky-bar">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <figure class="product-media">
                        <a style="background-color: white;" href="">
                            <img src="/images/product-images/{{product.images.[0].filename}}" alt="Product image">
                        </a>
                    </figure><!-- End .product-media -->
                    <h4 class="product-title"><a href="">{{product.name}} ({{product.color}})</a></h4>
                    <!-- End .product-title -->
                </div><!-- End .col-6 -->

                <div class="col-6 justify-content-end">
                    <div class="product-price text-dark">
                        <i class="fa-solid fa-indian-rupee-sign me-2"></i> {{product.price}}
                    </div><!-- End .product-price -->


                    <div class="product-details-action">
                        {{#if product.status}}
                        <a onclick="addToCart('{{product._id}}')" class="btn-product btn-cart"><span>add to
                                cart</span></a>
                        <a style="font-size: 24px;" href="#" class="wishlist btn-product btn-wishlist text-dark"
                            title="Wishlist"></a>
                        {{/if}}
                    </div><!-- End .product-details-action -->
                </div><!-- End .col-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .sticky-bar -->


    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->





    {{>user-footer}}


    <style>
        .user-wrap {
            background-color: #e7e9eb;
            padding: 0px 14px 0px 14px;
            border-radius: 20px;
            cursor: pointer;
            border: none;
            transition: all .221s;
        }

        .user-login-text {
            margin-top: 6px !important;
        }
    </style>

    <!-- Plugins JS File -->
    <script src="/stylesheets/assets/js/jquery.min.js"></script>
    <script src="/stylesheets/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.waypoints.min.js"></script>
    <script src="/stylesheets/assets/js/superfish.min.js"></script>
    <script src="/stylesheets/assets/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/stylesheets/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/stylesheets/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/stylesheets/assets/js/main.js"></script>
</body>
<script>
    function addToCart(productId) {
        $.ajax({
            url: '/add-to-cat/' + productId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    let count = $('#cartCount').html()
                    $('#cartCount').html(response.cartCount)
                }
            }
        })
    }
</script>

<script>
    function addToWishlist(productId) {
        $.ajax({
            url: '/add-to-wishList/' + productId,
            method: 'get',
            success: (response) => {
                if (response.status) {
                    changeStyle()
                }else{
                    alert("exits")
                }
            }
        })
    }
</script>

<script>
 
    function changeStyle(){
            if ($(".buttonws").hasClass("deactivate")) {
                $(".buttonws").removeClass("deactivate")
            }
            if ($(".buttonws").hasClass("active")) {
                $(".buttonws").addClass("deactivate")
            }
            $(".buttonws").toggleClass("animate");
            $(".buttonws").toggleClass("active");
            $(".buttonws").toggleClass("inactive");
    }
</script>


<style>
    .card {
        position: fixed !important;
        z-index: 999 !important;
        top: 8px !important;
        left: 15% !important;
        width: 28% !important;
        border: none !important;
        border-radius: 20px !important;
        margin-top: -8px;
    }

    .search-input-group {
        margin-bottom: 0px !important;
    }



    .search-btn {
        background-color: #e7e9eb !important;
        border-color: #e7e9eb !important;
        color: black !important;
        border-radius: 20px 1px 0px 22px !important;
        min-width: none !important;
        min-width: 11px;
        height: 40px;
        width: 21px;
    }

    .search-box {
        background-color: #e7e9eb !important;
        border: none !important;
        margin-bottom: 0px;
    }

    .search-close-btn-wrap {
        font-size: 21px !important;
        background: #e7e9eb !important;
        border-radius: 1px 20px 20px 1px !important;
        padding: 8px !important;
        height: 40px;
    }

    .input-group-append>input {
        border-radius: 1px 20px 22px 0px !important;
    }

    @media screen and (max-width:768px) {

        .card {
            position: fixed !important;
            z-index: 999 !important;
            top: 8px !important;
            left: auto !important;
            width: 100% !important;
            height: 100% !important;
            border: none !important;
            border-radius: 20px !important;
            justify-content: flex-start !important;
        }
    }

    @media screen and (min-width:1368px) {

        .card {
            position: fixed !important;
            z-index: 999 !important;
            top: 8px !important;
            left: 15% !important;
            width: 28% !important;
            border: none !important;
            border-radius: 20px !important;
        }
    }



    @media screen and (max-width: 450px) {
        .card {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .price {
            border: none;
            margin: 0 auto;
        }
    }
</style>

